.textContainer {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 333;
    position: relative;
    margin: 50px auto !important;
    h1 {
        font-size: 36px;
        font-weight: 700;
        color: #000;
    }
    p {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #666666;
        line-height: 1.625em;
    }
}
.row{
    width: 80%;
    margin: 0 auto;
    div{
        padding: 10px;
        img{
            border-radius: 8px;
        }
        a{
            text-decoration: none;
            color:#777777;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.625em;
        }
    }
}